RewriteEngine On
RewriteBase /queueing/

# Route assets to public folder
RewriteRule ^assets/(.*)$ public/assets/$1 [L]

# Route to public index.php for everything else
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php/$1 [L,QSA]
